In [1]:
# Project done by SHUBHAM SHAILESH PANDEY, UBID - spandey4
import numpy as np

In [2]:
print("ABC\t".strip())
print(" ABC\t".lstrip())
print(" ABC\t".rstrip())
print("ABC".strip("C"))

ABC
ABC
 ABC
AB

In [3]:
import dateutil.parser as p
print(p.parse("August 13, 1985"))
print(p.parse("2013-8-13"))
print(p.parse("2013-8-13 4:15am"))

1985-08-13 00:00:00
2013-08-13 00:00:00
2013-08-13 04:15:00

In [4]:
def get_first_last_name(s):
 INVALID_NAME_PARTS = ["mr", "ms", "mrs",
 "dr", "jr", "sir"]
 parts = s.lower().replace(".","").strip().split()
 parts = [p for p in parts if p not in INVALID_NAME_PARTS]
 if len(parts)==0:
     raise ValueError("Name %s is formatted wrong" % s)
 first, last = parts[0], parts[-1]
 first = first[0].upper() + first[1:]
 last = last[0].upper() + last[1:]
 return first, last

def format_age(s):
 chars = list(s) # list of characters
 digit_chars = [c for c in chars if c.isdigit()]
 return int("".join(digit_chars))

def format_date(s):
 MONTH_MAP = {
 "jan": "01", "feb": "02", "may": "05"}
 s = s.strip().lower().replace(",", "")
 m, d, y = s.split()
 if len(y) == 2: y = "19" + y
 if len(d) == 1: d = "0" + d
 return y + "-" + MONTH_MAP[m[:3]] + "-" + d

import pandas as pd
df = pd.read_csv("try12.txt", sep="|")
print(df)
print("\n")
df["First Name"] = df["Name"].apply(lambda s: get_first_last_name(s)[0])
df["Last Name"] = df["Name"].apply(lambda s: get_first_last_name(s)[1])
df["Age"] = df["Age"].apply(format_age)
df["Birthdate"] = df["Birthdate"].apply(format_date).astype(pd.datetime)
print(df)

                Name       Age         Birthdate
0  Ms. Janice Joplin        65  January 19, 1943
1         Bob Dylan   74 Years       may 24 1941
2     Billy Ray Joel      66yo      Feb. 9, 1941


                Name  Age   Birthdate First Name Last Name
0  Ms. Janice Joplin   65  1943-01-19     Janice    Joplin
1         Bob Dylan    74  1941-05-24        Bob     Dylan
2     Billy Ray Joel   66  1941-02-09      Billy      Joel

In [11]:
import re
# This matches "1600 Pennsylvania Ave."
# It does NOT match "5 Stony Brook St"
# cuz there is a space in "Stony Brook"
street_pattern = r"^[0-9]\s[A-Z][a-z]*" + r"(Street|St|Rd|Road|Ave|Avenue|Blvd|Way|Wy)\.?$"
# Like the one above, this assumes
# there is no space in the town name
city_pattern = r"^[A-Z][a-z]*,\s[A-Z]{2},[0-9]{5}$"
address_pattern = street_pattern + r"\n" + city_pattern
# Compile the string into a regular expression object
address_re = re.compile(address_pattern)
text = open("some_file.txt", "r").read()
print(text)
matches = re.findall(address_re, text)
print(matches)
# list of all strings that match
open("addresses_w_space_between.txt","w").write("\n\n".join(matches))

1600 Pennsylvania Avenue
15 Penn Ave.
[]

0