In [1]:
# Project done by SHUBHAM SHAILESH PANDEY, UBID - spandey4
import numpy as np

In [2]:
 print("hello world")

hello world

In [3]:
3/2

1.5

In [4]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
 old_sal = rec['salary']
 new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
 rec['salary'] = new_sal
 state_code = rec['state_code']
 rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [
 {'employee_name': 'Susan', 'salary': 100000.0,
 'state_code': 'WA'},
 {'employee_name': 'Ellen', 'salary': 75000.0,
 'state_code': 'TX'}
]
for rec in input_data:
 update_employee_record(rec)
 name = rec['employee_name']
 salary = rec['salary']
 state = rec['state_name']
 print(name + ' now lives in ' + state)
 print(' and makes $' + str(salary))

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [5]:
def sqr(x):
 "This function just squares its input "
 return x * x
sqr(4.0)

16.0

In [6]:
my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)
print(my_list)
print(my_set)
print(my_tuple)

['a ', 'b ', 'c ']
{'a ', 'c ', 'b '}
('a ', 'b ', 'c ')

In [7]:
my_list = ["a ", "b ", "c "]
print(my_list[0]) # prints "a "
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print(my_list)
print(mixed_list)

a
['A ', 'b ', 'c ', 'd ']
['A ', 5.7, 'B ', [1, 2, 3]]

In [8]:
original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
squares_of_evens = [x*x for x in original_list if x%2==0]
print(original_list)
print(squares)
print(squares_of_evens)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]
[4, 16, 36, 64]

In [9]:
my_list = ["a", "b", "c"]
first_two_elements = my_list[0:2]
print(first_two_elements)
print(type(first_two_elements))

['a', 'b']
<class 'list'>

In [10]:
my_list = ["a", "b", "c"]
first_two_elements = my_list[:2]
last_two_elements = my_list[1:]
all_but_last_element = my_list[:-1]
print(first_two_elements)
print(last_two_elements)
print(all_but_last_element)

['a', 'b']
['b', 'c']
['a', 'b']

In [11]:
"ABC DEF".split()

['ABC', 'DEF']

In [12]:
"ABC \tDEF".split()

['ABC', 'DEF']

In [13]:
"ABC \t\t\tDEF".split()

['ABC', 'DEF']

In [14]:
"ABC \tDEF".split(' ')

['ABC', '\tDEF']

In [15]:
"ABCABD".split("AB")

['', 'C', 'D']

In [16]:
",".join(["A", "B", "C"])

'A,B,C'

In [17]:
"".join(["A", "B", "C"])

'ABC'

In [18]:
start, end, count_by = 1, 7, 2
"ABCDEFG"[start: end: count_by]

'BDF'

In [19]:
my_tuple = (1, 2, "hello world")
print(my_tuple[0]) # prints 1
my_tuple[1] = 5 # This will give an error!

1

TypeError: 'tuple' object does not support item assignment

In [20]:
my_tuple = (1, 2)
zeroth_field, first_field = my_tuple
print(zeroth_field)

1

In [21]:
my_dict = {"January": 1, "February":2}
print(my_dict["January"]) # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwrite old value
print(my_dict)

1
{'January': 'Start of the year', 'February': 2, 'March': 3}

In [22]:
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()
print(same_as_pairs)

dict_items([('one', 1), ('two', 2)])

In [23]:
s = set()
print(5 in s)
s.add(5)
print(5 in s)
s.add(5) # does nothing
print(s)

False
True
{5}

In [24]:
def my_function(x):
    y = x+1
    y_sqrd = y*y
    return y_sqrd
my_function(5)

36

In [25]:
def my_raise(x, n=2):
    return pow(x,n)
two_sqrd = my_raise(2)
two_cubed = my_raise(2, n=3)
print(two_sqrd)
print(two_cubed)

4
8

In [26]:
sqr = lambda x : x*x
five_sqrd = sqr(5)
print(five_sqrd)

25

In [27]:
def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)
print(sqrs_of_evens)

[4, 16]

In [28]:
my_list = [1, 2, 3]
for x in my_list:
    print("the number is ",x)

the number is  1
the number is  2
the number is  3

In [29]:
for key, value in my_dict.items():
    print ("the value for ", key, " is ", value)

the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3

In [30]:
i = 4
if i < 3:
    print("i is less than three")
elif i < 5: print("i is between 3 and 5")
else: print("i is greater than 5")

i is between 3 and 5

In [31]:
i = 0
while i < 5:
    print("i is still less than five")
    i = i+1

i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [32]:
input_text="Hello World"
try:
 lines = input_text.split("\n")
 print("tenth line was: ", lines[9])
except:
 print("There were < 10 lines")

There were < 10 lines

In [33]:
print(int(5.7))
print(int("5"))
print(float(5))
print(float("5.7"))
print(bool("")) # False
print(bool("asdf")) # True

5
5
5.0
5.7
False
True

In [34]:
dict([
("January", 1),
("February", 2)
])

{'February': 2, 'January': 1}

In [35]:
zip(["Sunday", "Monday", "Tuesday"], range(3))

In [36]:
print(len("sdf"))
print(len([1,2,3,4])) # 4

3
4

In [37]:
mylist = [(1,"one"),(2,"two"),(3,"three")]
for ind, val in mylist:
 print("At %i" % ind)
 print(val)

At 1
one
At 2
two
At 3
three

In [38]:
class Dog:
    def __init__(self, name):
     self.name = name
    def respond_to_command(self, command):
     if command == self.name: self.speak()
    def speak(self):
     print("bark bark!!")
fido = Dog("fido")
fido.respond_to_command("spot") # does nothing
fido.respond_to_command("fido") # prints bark bark!!

bark bark!!

In [39]:
a = 5 # a is a hashable int
b = a # b points to a COPY of a
a = a + 1
print(b) # b has NOT been incremented
A = [] # A is an UNhashable list
B = A # B points to the SAME list as A.
A.append(5)
print(B)
C = [x for x in A]
A.append(6)
print("Copy at same memory location :- " + str(B) + "\nCopy at different memory location :- " + str(C))

5
[5]
Copy at same memory location :- [5, 6]
Copy at different memory location :- [5]

In [40]:
A = [{}, {}] # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
print(B[0]["name"])

bob

In [41]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})
print(df)
print("\n")
# Reading a DataFrame from a file
#other_df = pd.read_csv(“myfile.csv”)
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
print(df)
print("\n")
print(df_below50)
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

   age    name
0   60     Bob
1   25    Alex
2   33  Janice


   age    name  age_plus_one  age_times_two  age_squared  over_30
0   60     Bob            61            120         3600     True
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True


   age    name  age_plus_one  age_times_two  age_squared  over_30
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True

In [42]:
import pandas as pd
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]
})
print(df.index) # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print(df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print(bobs_row["age"]) # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

D:\Programs\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':

In [43]:
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
# note index is to the far left
print(s)
print("\n")
print(s+2)
print("\n")
print(s.index)
print("\n")
print(s + pd.Series([4,4,5]))

0    1
1    2
2    3
dtype: int64


0    3
1    4
2    5
dtype: int64


RangeIndex(start=0, stop=3, step=1)


0    5
1    6
2    8
dtype: int64

In [44]:
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})
joined = df_w_age.set_index("name").join(
 df_w_height.set_index("name"))
print(joined)
print("\n")
print(joined.reset_index())

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5


     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [45]:
df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],
"gender": ["M", "M", "F"]
})
# use built-in aggregates
print(df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1

In [46]:
medians = df.groupby("gender").quantile(0.5)
print(medians)
print("\n")
# Use a custom aggregation function
def agg(ddf):
    return pd.Series({
     "name": max(ddf["name"]),
     "oldest": max(ddf["age"]),
     "mean_height": ddf["height"].mean()
     })
print(df.groupby("gender").apply(agg))

0.5      age  height
gender
F       33.0     5.5
M       42.5     5.1


        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60